@import "../../styles/variables.scss";

.Wrapper {
  margin-top: 3.8rem;
  margin-bottom: 7.5rem;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  @include media(">tablet") {
    margin-top: 6rem;
    margin-bottom: 3.9rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.Spacer {
  display: flex;
  align-items: center;

  svg {
    max-width: 100%;
  }

  // Position
  &--Left {
    justify-content: flex-start;
  }

  &--Center {
    justify-content: center;
  }

  &--Right {
    justify-content: flex-end;
  }

  // Colour
  &--Red {
    svg path {
      fill: $play-red;
    }
  }
  &--Blue {
    svg path {
      fill: $play-blue;
    }
  }
  &--Green {
    svg path {
      fill: $play-green;
    }
  }
  &--Peach {
    svg path {
      fill: $play-peach;
    }
  }

  // Type
  &--Dots1 {
    svg {
      width: 33rem;
      height: 24.3rem;

      @include media(">tablet") {
        width: 47.8rem;
        height: 32rem;
      }
    }
  }
  &--Dots2 {
    svg {
      width: 25.2rem;
      height: 33.6rem;

      @include media(">tablet") {
        width: 36rem;
        height: 48rem;
      }
    }
  }
  &--Dots3 {
    svg {
      width: 33rem;
      height: 16.5rem;

      @include media(">tablet") {
        width: 47.8rem;
        height: 24rem;
      }
    }
  }
  &--Dots4 {
    svg {
      width: 16.5rem;
      height: 24.8rem;

      @include media(">tablet") {
        width: 24rem;
        height: 36rem;
      }
    }
  }
  &--Bricks4 {
    svg {
      width: 27.4rem;
      height: 13.6rem;

      @include media(">tablet") {
        width: 50rem;
        height: 24.8rem;
      }
    }
  }
  &--Bricks6 {
    svg {
      width: 13.6rem;
      height: 27.4rem;

      @include media(">tablet") {
        width: 24.8rem;
        height: 41.4rem;
      }
    }
  }
}
