// Colours
$play-black: #000;
$white: #fff;
$grey: #b3b3b3;
$accessible-focus: #87b3ea;

// Play included brand
$grey-01: #f4f4f4;
$grey-02: #d8d8d8;
$play-red: #ff351f;
$play-green: #347659;
$play-peach: #ff8f63;
$play-blue: #6475f5;
$play-olive: #929421;
$play-lilac: #cfa6f5;
$play-yellow: #ecb31c;
